.content {
    flex-grow: 1;
    font-family: "Open Sans"!important;
}
.scriptTop {
    flex-grow: 1;
    padding-left: 28px;
    float: top!important;
}
.scriptParams {
    flex-grow: 1;
    margin-bottom: 45px;
}
.scriptTitle {
    font-size: 18px;
    font-weight: bold;
    float: top!important;
}
.runButton {
    float: right;
    margin-right: 20px;
}
.gridCell {
    width: calc(100% * 1/2 - 30px);
}
