.textField {
    margin-left: 60px;
    width: 450px;
    font-size: 14px;
}
.label {
    margin-left: 60px;
    font-size: 24px;
    font-weight: bold;
    color: #333333!important;
}
.input {
    margin-top: 30px!important;
    margin-left: 60px!important;
    font-size: 14px!important;
    color: #777d84!important;
}
