@import "../index.pcss";
body {
    .container{
        background-color: cornflowerblue;
    }
    .title {
        font-family: OpenSans;
        background-color: cornflowerblue;
        font-size: 14px;
        font-weight: 600;
        color: #454b56;
    }
}