.scriptResults {
    margin: 30px 0 20px 0;
    flex-grow: 1;
}

.resultTitle {
    margin: 20px 30px 20px 30px;
    width: 100px;
    height: 22px;
    text-align: center;
    box-shadow: 0 2px var(--darkBlue);
}

.logArea {
    margin: 20px 30px 20px 30px;
    height: 100%;
    box-shadow: none!important;
}
