.textField {
    margin-left: 70px;
    margin-right: 15px;
    width: 100%;
    font-size: 14px;
}
.label {
    margin-left: 70px;
    margin-right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #333333!important;
}
.input {
    margin-top: 30px!important;
    margin-left: 70px!important;
    margin-right: 15px;
    font-size: 14px!important;
    color: #777d84!important;
}
