.searchContainer {
    display: flex;
    box-shadow: 0 1px #D5D8DC;
    margin: 15px 15px 15px 15px;
}
.searchField {
    position: relative;
    align-items: center;
    padding: 0 0 0 8px;
    justify-content: flex-end;
    border: 0;
    opacity: 0.6;
    flex-grow: 1;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
}
.searchField:focus {
    outline: none;
}
.searchIcon {
    float: right;
}