@import url(http://fonts.googleapis.com/css?family=Open+Sans);

:root {
    --drawerWidth: 25%;
    --titleColor: #454b56;
    --descriptionColor: #454b56;
}

.mainDiv {
    display: flex;
}

.drawerPaper {
    width: var(--drawerWidth);
}
.drawer {
    width: var(--drawerWidth);
    flex-shrink: 0!important;
}

