@import url(http://fonts.googleapis.com/css?family=Open+Sans);

:root {
    --drawerWidth: 575px;
    --titleColor: #454b56;
}

body {
    font-family: "Open Sans"!important;
    .drawer {
        width: var(--drawerWidth);
        flexShrink: 0;
    }
}
